/* Articles Styles */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.articles {
    background-image: url("./a_white_bg3.jpg");
}

.topArticles {
    display: flex;
    flex-direction: row;
}

.linkClick {
    text-decoration: none;
    color: white;
}