/* Email Styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato:wght@300;400;900&display=swap');


.copy-btn {
    float:right;
    background-color: transparent;
    border:none;
}

.copy-icon {
    filter: invert(60%);
}

.email-box {
    margin: auto;
    border-style:none none solid;
    border-color:#C4C4C4;
    border-width:2px;
    width: 400px;
    height:20px;
    padding:10px 0 10px 10px;
}

.email {
    padding-top: 20vh;
    text-align: center;
    color:white;
    font-family: 'Lato', sans-serif;
}
.email h1, .email p {
    margin: 2%;
}

.generate-btn {
    background-color:#114f1f;
    color:white;
    width:100px;
    margin-top:15px;
    position:absolute;
    left:58%;
    border-radius:15px;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    border:1px solid white;
    cursor: pointer;
}

.generate-btn:hover {
    background-color:black;
    color:grey;
    transition-duration:0.4s;
    border:1px solid grey;
}

.email-txt {
    font-family: 'Fira Code', monospace;
    font-size:1.5rem;
}

h1 {
    font-weight:400;
    font-size: 3rem;
}

p {
    /* font-size:small; */
    font-weight:100;
}

.btn:hover {
    cursor: pointer;
}
