@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.footer {
    padding: 24px;
    text-align: center;
    background-color: #0B100F;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
}
.linkClick {
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
.linkClick:hover {
    color: #055337;
}