/* README 
* Kalau bisa sesedikit mungkin pake `!important`
* Kalau bisa jangan pake inline-styling, jadi styling-nya semua di CSS
* Styling-nya keknya belum perlu responsive, jadi ga perlu dicek di hp tampilannya kek gimana
* Styling-nya disesuaikan yaa tempatnya sesuai comment
* SEMANGAT!!
*/

/* Root Styles */
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

* {
  font-family: 'Monda', sans-serif;
  margin: 0;
}

body {
  background-image: url("./assets/background-image.png");
  background-size: cover;
  width: 100%;
}